<nav class="navbar navbar-expand-lg bg-white shadow-sm px-4 py-3 fixed-top" style="height: 70px; z-index: 1050;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a class="navbar-brand d-flex align-items-center" href="{{ path('app_home') }}">
                <img src="{{ asset('build/images/lodmico.png') }}" alt="Logo" class="img-fluid me-2 d-none d-md-block"
                    style="height: 50px; border-radius: 10px;">
                <h4 class="fw-bold mb-0 d-none d-md-block" style="
                  background: linear-gradient(to right, #ff4081, #ff8c00);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                ">
                    PARTENAIRE
                </h4>
            </a>
        </div>

        <div class="dropdown">
            <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="ms-2 d-none d-lg-block text-black">
                    <strong>{{ app.user.name }} {{ app.user.lastname }}</strong>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="{{ path('app_account') }}">Mon compte</a></li>
                <li><a class="dropdown-item" href="{{ path('app_charging_stations') }}">Bornes de recharge</a></li>
                {% if is_granted('ROLE_ADMIN') %}

                {% endif %}
                <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</nav>
