<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annexe 1 – Forfait d’Abonnement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            line-height: 1.6;
            background-color: #f9f9f9;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            font-size: 1.5em;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
            font-weight: bold;
        }
        .section {
            margin-bottom: 20px;
        }
        .signature {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }
        .signature div {
            text-align: center;
            font-weight: bold;
        }
        .footer {
            margin-top: 20px;
            font-size: 0.9em;
            text-align: center;
            color: #555;
        }
        .tooltip {
            z-index: 1070 !important;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>ANNEXE 1 – FORFAIT D’ABONNEMENT </h1>

        <div class="section">
            <h2>1. Service souscrit</h2>
            <table>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Frais</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Supervisions</strong></td>
                        <td>9.90€ HT / mois / point de charge</td>
                        <td>{{ totalConnectors }}</td>
                        <td>{{ (9.90 * totalConnectors)|number_format(2, '.', ' ') }} € HT</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if typeOf != 'flotte' %}
        <div class="section">
            <h2>2. Tarification par bornes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Modèle de la borne</th>
                        <th>Prix public du kWh</th>
                        <th>Prix réduit du kWh</th>
                        <th>Coût supplémentaire à la minute</th>
                        <th>Pénalités après recharge</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarif in tarifications %}
                    <tr>
                        <td>{{ tarif.chargingStationModel }}</td>
                        <td>{{ tarif.publicPrice }} €</td>
                        <td>{{ tarif.reducedPrice }} €</td>
                        <td>{{ tarif.minutePrice }}</td>
                        <td>{{ tarif.parkingTime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="section">
            <h2>3. Frais d'utilisation</h2>
            <table>
                <thead>
                    <tr>
                        {% if typeOf == 'mixte' %}
                            <th>Flotte</th>
                            <th>Publique</th>
                        {% else %}
                            <th>Publique</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if typeOf == 'mixte' %}
                            <td>0,039€HT/KwH</td>
                            <td>10% du C.A €/TTC</td>
                        {% else %}
                            <td>10% du C.A €/TTC</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <p><strong>Toute modification des nouveaux prix sera effective sous 1 mois.</strong></p>
        </div>
        {% endif %}

        <br><br><br><br><br><br><br><br><br><br><br>

        <div class="footer">
            <p>LODMI, société de droit Français enregistrée au RCS Arras sous le numéro B 901 360 602.</p>
            <p>Siège social : 11 Rue Willy Brandt, 62000 ARRAS.</p>
            <p>Immatriculée au registre du commerce sous le SIRET n° 90136060200030.</p>
            <p>Représentée par M. Thomas SAINT MACHIN, Président.</p>
            <p><a href="https://www.lodmi.com" target="_blank">www.lodmi.com</a></p>
        </div>
    </div>
</body>
</html>